body{
    background-color: black;
    color:white;
    margin:0px 3px;
    .navbar{
        border:1px solid white;
        display:block;
    }
    .logo img{
        grid-area:logo;
        height:40px;
        margin-top:2px;
        margin-left:1px;
    }
    
}