
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
    margin:0px 3px;
    border-right:2px solid white;
    border-left:2px solid white;
    border-bottom:2px solid white;



}

.logo img{
    grid-area:logo;
    height:40px;
    margin-top:2px;
    margin-left:1px;
}

.logo img:hover{
    height:41px;
    margin-top:1px;
    margin-left:1px;
}



.titulosSeccion{ 
    background-image: linear-gradient(to top,black 75% ,rgb(196, 196, 196));
    border:1px solid white;
    height:45px;
    text-align: center;
    font-size: 30px;
    margin-top:7px;
    font-family: 'Cabin', sans-serif;
    grid-area: tituloSeccion;
    display: block;
}

/*FIN HEADER (Todas las pestañas)*/


/*COMIENZO CONTENIDO [INDEX]*/

.itemImagenParrafoIndex{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr 0.5fr;
    grid-template-areas: 
    "parrafo parrafo parrafo imagen"
    ". . . . "
    "botones botones botones botones"
    ;
    border:1px solid white;
    margin-top:-7px;
    color:black;
    background-image: linear-gradient(to top,black 10% ,white);
}

.padreImagenIndex{
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.imagenIndex{
    height:230px;
    width:220px;
    border:2px outset white;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    grid-area:imagen;
}

.parrafoIndex{
    grid-area: parrafo;
    margin-left:10px;
    margin-top:12px;
    text-align: center;

}

.divBotonesIndex{
    grid-area: botones;
    margin-left:70px;
    margin-top:15px;
}



.divBotonesIndex a {
    padding:18px;
    width:120px;
    border:1px solid black;
    box-shadow: 6px 6px 6px white;
    border-radius:5px;
    text-decoration: none;
    color:white;
    background:black;
    text-align: center;
    white-space: nowrap;
    margin:0 50px 0 50px;
}

.divBotonesIndex a:hover {
    background:white;
    color:black;
    box-shadow: 6px 6px 6px black;
    border:none;
}




.btn-sobre{
    color:white;
text-decoration: none;
}

.btn-contacto{
    color:black;
text-decoration: none;
}

.btn-sobre:hover{
text-decoration: none;
color:grey;
}

.btn-contacto:hover{
    color:black;
text-decoration: none;
}

.btn-proyectos{
    color:white;
    text-decoration: none;
}

.btn-proyectos:hover{
    color:grey;
    text-decoration: none;
}
/*PROYECTOS*/

/*COMIENZO CONTENIDO [PROYECTO]*/

.itemProyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "proyecto1 proyecto2"
    "proyecto3 proyecto4"
    ;

}



/*Listado Proyectos*/
.foto-proyecto{
    height: 300px;
    width:100%;
    opacity: 0.2;
}

.foto-proyecto:hover{
    border:1px solid white;
    animation: change-image 3s;
    animation-fill-mode: forwards;

}

@keyframes change-image {
    0%{
        opacity:.5;
        height:280px;
        width:90%;
    }

    50%{
        opacity: .75;
    }


    100%{
        opacity: 1;
        height:300px;
        width:100%;

    }
    
}

.proyecto1{
    grid-area: proyecto1;    
}

.proyecto2{
    grid-area: proyecto2;    
}

.proyecto3{
    grid-area: proyecto3;    
}

.proyecto4{
    grid-area: proyecto4;    
}

.proyectoBotones{
    display:block;
    margin-top:25px;  
    text-align: center;  
}

.proyectoBotones ul li {
    background-color: white;
    display:inline;
    margin:5px;
}

.proyectoBotones ul li a{
    background-color: lightgrey;
    color:black;
    text-decoration: none;
    border:2px solid white;
    padding:10px;
}

.proyectoBotones ul li a:hover{
    background-color: black;
    color:white;
    text-decoration: none;
    border:2px solid white;
    padding:10px;


}

.ingresar-proyecto{
    display:block;
    width:190px;
    text-decoration:none;
    background-color: black;
    padding:15px;
    color:white;
    border:3px solid white; 
    border-radius: 12px;
    text-align: center;
    margin:30px auto auto auto;

}


/*Animaciones*/

.ingresar-proyecto:hover{
    animation: change-button 2s;
}

@keyframes change-button{
    0%{
        width:80px;
        color:black;
        font-size: 5px;
    }

   50%{
       width:120px;
        font-size: 8px;
        background-color: rgb(0, 0, 0);
        color:grey;
   }

    75%{
        width:190px;
    }
     


}




.tituloSeccionProyecto{
    background-image: linear-gradient(to bottom,grey 10% ,black);
    border:1px solid white;
    height:35px;
    text-align: center;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 100%;
}

/*TECNOLOGIAS*/
.itemTecnologias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr  ;
    grid-template-areas:
    "nombreTecnologia"
    "general"
    "nombreTecnologia"
    "frontend"
    "nombreTecnologia"
    "backend"
    "nombreTecnologia"
    "dataA"
    ;
}

.titulosTecnologia {
    grid-area: nombreTecnologia;
    background-image: linear-gradient(to bottom,black 10% ,grey);
    border:1px solid white;
    height:35px;
    text-align: center;
    font-size: 25px;
    width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
}

.logoTecnologia{
    width:200px;
    height:150px;
    padding:30px;
    display:inline-block;
}

.tecnologiaGeneral{
    grid-area:general;
    border:1px solid white;
}

.tecnologiaFrontend{
    grid-area:frontend;
    border:1px solid white;
}

.tecnologiaBackend{
    grid-area:backend;
    border:1px solid white;
}

.tecnologiaData{
    grid-area:dataA;
    border:1px solid white;
}


/*BOOTSTRAP*/
/*HEADER [bootstrap]*/
.navbar{
    border:1px solid white;
    display:block;
}

/*TECNOLOGÍAS (Carrousel --> BOOTSTRAP)*/

.carousel{
    width:95%;
    margin-right:2.5%;
    margin-left: 2.5%;
}

.carousel-inner{
    background-image: linear-gradient(to bottom,rgb(19, 16, 16) 50% ,black);
    border:1px solid white;
}

.carousel-inner h5 , .carousel-inner p{
    color:white;
}

.carousel-item{
    width:350px;
    margin-left:500px;

}

.carousel-item img {
    width:400px;
    height:250px;
    opacity: 0.6;
    margin:auto;    
}





   
@media only screen and (min-width:769px) and (max-width:1024px){

    /*INDEX*/

    .itemImagenParrafoIndex{
        display:grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 0.5fr 1fr ;
        grid-template-areas: 
        "imagen parrafo"
        "botones parrafo"
        ;
        color:black;
        background-image: linear-gradient(to top,black 10% ,white);
    }


    .divBotonesIndex{
        margin:auto;
        display: inline-block;
    }
    
    .divBotonesIndex a{
        display:block;
        margin:25px;
    }

    /*PROYECTOS*/

    .itemProyectos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "proyecto1"
        "proyecto2"
        "proyecto3"
        "proyecto4"
        ;
    }

    /*TECNOLOGÍAS*/
   
    .carousel-item{
        width:350px;
        margin-left:290px;
    
    }
    
    .carousel-item img {
        width:350px;
        height:250px;
        opacity: 0.6;
        margin:auto;    
    }
    
}

@media only screen and (max-width:768px){

    /*INDEX RESPONSIVE [GENERAL]*/


    .itemImagenParrafoIndex{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
        "imagen"
        "parrafo"
        "botones"
        ;
        color:white;
        background-image: linear-gradient(black,grey) ;
    }


    .divBotonesIndex{
        margin:auto;
        display: inline-block;
    }
    
    .divBotonesIndex a{
        display:block;
        margin:25px;
    }

    /*PROYECTOS RESPONSIVE*/

    .itemProyectos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "proyecto1"
        "proyecto2"
        "proyecto3"
        "proyecto4"
        ;
    }



    .proyecto1{
        margin-top:10px;
    }
    .proyectoBotones ul li a{
        display: block;
        width:200px;
        margin: auto;
    }

 
    /*TECNOLOGIAS*/

    .carousel-item{
        width:350px;
        margin-left:190px;
    
    }
    
    .carousel-item img {
        width:300px;
        height:200px;
        opacity: 0.6;
        margin:auto;    
    }

}